@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hwb(256 1% 89%);
}

.box {
  display: flex;
}

.box .eye {
  position: relative;
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 20px;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 2);
  inset: 0 0 15px hwb(212 60% 20%);
  inset: 0 0 25px hwb(131 67% 4%);
}

.box .eye::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  display: block;
  border-radius: 50%;
  background: #000000;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  border: 10px solid hsl(207, 87%, 79%);
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
